.product-btn {
    border-radius: 12px;
    background: dodgerblue;
    width: 180px;
    color: #fff;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    border: none;
    position: absolute;
    top: 18%;
    margin-left: auto;
    right: 2%;
}

@media screen and (max-width: 768px) {
    .product-btn {
        display: none;
    }
}
