
.diary{
    background-color: #003e51;
    border-radius: 10px;
    color: #fff;
    padding: 1rem;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.diary-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}