
.diary-user{
    display: flex;
    align-items: center;
    color: #000;
  }

.diarylist-container{
    margin-top: 180px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.diary-list{
    margin-top: 180px;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}